<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BlockBuilder Editor</title>
    <link rel="stylesheet" href="components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="components/codemirror/lib/codemirror.css">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <a class="navbar-brand" href="#">Block Builder</a>
        <div class="pull-right">
          <span>
            <a class="btn btn-warning navbar-btn" ng-click="close()">
              Close
            </a>
          </span>
        </div>
      </div>
    </nav>
    <div class="row" ng-cloak>
      <div class="col-md-4" ng-app="Editor">
        <div style="margin-left: 5px;" ng-controller="MainCtrl">
          <h3>Editor - {{project.name || 'untitled'}}</h3>
          <div style="margin-bottom: 10px;border: 1px solid #000;" >
            <textarea ui-codemirror ng-model="project.code"></textarea>
          </div>
          <div class="pull-right">
            <button class="btn btn-primary" ng-click="run()">Run</button>
            <button class="btn btn-primary" ng-click="publish()">Publish</button>
          </div>
          <h3>&nbsp;</h3>
          <div class="alert alert-warning">
            <ul>
              <li ng-repeat="err in errors">
                <em>{{err.reason}}</em> L{{err.line}}:C{{err.character}}
                
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div id="game" class="col-md-8"></div>
    </div>
    <script src="//cdn.firebase.com/v0/firebase.js"></script>
    <script src="//cdn.firebase.com/v0/firebase-simple-login.js"></script>
    <script type='text/javascript' src='https://login.persona.org/include.js'></script>
    <script src="components/codemirror/lib/codemirror.js"></script>
    <script src="components/codemirror/mode/javascript/javascript.js"></script> 
    <script src="components/angular/angular.js"></script>
    <script src="components/angular-ui-codemirror/ui-codemirror.js"></script>
    <script src="components/angular-fire/angularFire.js"></script>
    <script src="js/jshint-2.1.11.js"></script>
    <script src="js/bundle.js"></script>
    <script>
      angular.module('Editor', ['ui.codemirror', 'firebase'])
        .factory('projects', function(angularFireCollection) {
          var user = localStorage.getItem("user");
          var url = 'https://block-builder.firebaseio.com/users/' + user;
          return  angularFireCollection(new Firebase(url));
        })
        .controller('MainCtrl', function MainCtrl($scope, angularFire, projects) {
          var user = localStorage.getItem("user");
          var id = window.location.search.split('=')[1];
          if (id) { 
            var ref = new Firebase('https://block-builder.firebaseio.com/users/' + user + '/' + id);
            angularFire(ref, $scope, "project");
          }
          
          $scope.run = function() {
            $scope.errors = [];
            if (!JSHINT($scope.project.code)) {
              $scope.errors = JSHINT.errors;
            } else {
              eval($scope.project.code);
            }
          };

          $scope.publish = function() {
            if (!$scope.project.name) {
              var name = prompt('Save As: ');
              projects.add({ code: $scope.project.code, name: name, author:  user});
            }
            window.close();
          };

          $scope.close = function() {
            window.close();
          }
      });

    </script>
    
  </body>
</html>